.container {
  border: 2px solid;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: row;
  gap: 10em; /* space between elements in the row */
  justify-content: space-between; /* align along the flex direction */
  align-items: center; /* align across the flex direction */
}



header,
footer,
main {
  padding: 2rem;
}

header,
main {
  border-bottom: 2px solid;
  margin-bottom: 5px;
}

section.posts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

article.post {
  border: 1px solid black;
  padding: 1rem;
}
article.post.new-post {
  background-color: #f0f0f0;
}
article.post .controls {
  font-size: 12px;
}
article.post .author {
  font-size: 12px;
}
article.post p.message {
  font-size: 24px;
}

footer {
  margin-bottom: 5px;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;/*10 default*/
  font-size: 22px;/*22 default*/
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}

#listings {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
}

.listing {
  border: 1px solid black;
  position: relative;
  max-height: 500px;
  box-sizing: border-box;
  border-radius: 0.5em;
}

.listing-image {
  position: relative;
  height: 70%;
  overflow: hidden;
}

.listing img {
  width: 100%;
  height: auto;
  border-radius: 0.5em;
}

.details {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 85%;
  margin: 0 7.5%;
  height: 30%;
  /*font-size: 0.7rem;*/
}

.details p {
  width: auto;
}

.details-primary {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-image {
  display: block;
  max-width: 600px;
  max-height: 1200px;
  width: auto;
  height: auto;
}

.item img {
  object-fit: contain;
  width: 100%;
  height: auto;
}
