{% extends 'base.html' %}

{% block container %}

    <h2>Posts</h2>
    <section class="posts">

        <article class="post new-post">
            something
        </article>

        
        <article class="post">
            <nav class="controls">
                Edit | Delete
            </nav>
            <p class="author">
                stuff
            </p>
            <p class="message">
                message
            </p>
            </p>
        </article>
        

    </section>

{% endblock %}