{% extends 'base.html' %} {% block container %}
<div id="search-results">
  <div id="results">{{ docs|length }} Results</div>
  <select name="sort" id="sort" onchange="dropdownRedirect()">
    <option value="newest">Newest</option>
    <option value="oldest">Oldest</option>
    <option value="lowest">Lowest Price</option>
    <option value="highest">Highest Price</option>
  </select>
</div>

<div id="listings">
  {% for doc in docs %}
  <div class="listing">
    <div class="listing-image">
      <img
        src="{{ doc.image_url }}"
        alt="{{ doc.title }}"
        referrerpolicy="no-referrer"
      />
    </div>
    <div class="details">
      <div class="details-primary">
        <a href="{{url_for('item', item_id = doc._id)}}"
          ><b>{{ doc.name }}</b></a
        >
        <p>${{ doc.price }}</p>
      </div>
      <p>{{ doc.description }}</p>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
