{% extends 'base.html' %} 

{% block container %}
<h2>Login Up</h2>
<form method="POST" action="{{ url_for('log_in')}}">
    <label for="fusername">Username: </label>
    <input type="text" id="fusername" name="fusername" placeholder="Username"/>
    <br />
    <label for="fusername">Password: </label>
    <input type="text" id="fpassword" name="fpassword" placeholder="Enter a Password"/>
    <br />
    <input type="submit" value="Sign up" />
</form>
{% if error %}
<p>{{error}}</p>
{% endif %}
{% endblock %}