{% extends 'base.html' %} {% block container %}
<h1>Your Listings</h1>
<div id="listings">
  {% if docs|length ==0%}
  <div class="listing" onclick="window.location.href='/add'">
    <div class="listing-image">
      <img
        src="https://cdn-icons-png.freepik.com/512/8333/8333955.png"
        alt="Add Item"
        referrerpolicy="no-referrer"
      />
    </div>
    <div class="details">
      <div class="details-primary">
        <b>Add Item</b>
      </div>
      <p>Add An Item</p>
    </div>
  </div>
  {% else %}
  <div class="listing" onclick="window.location.href='/add'">
    <div class="listing-image">
      <img
        src="https://cdn-icons-png.freepik.com/512/8333/8333955.png"
        alt="Add Item"
        referrerpolicy="no-referrer"
      />
    </div>
    <div class="details">
      <div class="details-primary">
        <b>Add Item</b>
      </div>
      <p>Add An Item</p>
    </div>
  </div>
  {% for doc in docs %}
  <div class="listing" onclick="window.location.href='/item/{{ doc._id }}'">
    <div class="listing-image">
      <img
        src="{{ doc.image_url }}"
        alt="{{ doc.title }}"
        referrerpolicy="no-referrer"
      />
    </div>
    <div class="details">
      <div class="details-primary">
        <b>{{ doc.name }}</b>
        <p>${{ doc.price }}</p>
      </div>
      <p>{{ doc.description }}</p>
    </div>
    <div class="item-buttons">
      <a href="{{url_for('edit', item_id = doc._id)}}">Edit</a>
      <br />
      <a href="{{url_for('delete', item_id = doc._id)}}">Delete</a>
    </div>
  </div>
  {% endfor %} {% endif %}
</div>
{% endblock %}
