{% extends 'base.html' %} {% block container %}
<h1>Your Listings</h1>
<div id="listings">
    {% if docs|length ==0%}
    <p>You have no listings ... ☹️</p>
    {% else %}
    {% for doc in docs %}
    <div class="listing" onclick="window.location.href='/item/{{ doc._id }}'">
        <div class="listing-image">
            <img
            src="{{ doc.image_url }}"
            alt="{{ doc.title }}"
            referrerpolicy="no-referrer"
            />
        </div>
        <div class="details">
            <div class="details-primary">
                <b>{{ doc.name }}</b>
                <p>${{ doc.price }}</p>
            </div>
            <p>{{ doc.description }}</p>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}
